[workspace]
resolver = "2"
members = [
    "easytier",
    "easytier-uptime",
    "neo-uptime-node",
]
default-members = ["easytier"]
exclude = []

[profile.dev]
panic = "unwind"
debug = 2

[profile.release]
panic = "abort"
lto = true
codegen-units = 1
opt-level = 3
strip = true
